body{
    font-family : sans-serif;
}

        nav {
            display: block;
            position: sticky;
            top: 0px;
            width: 100%;
            word-spacing: 40px;
            background-color: rgb(162, 194, 201);
        }

        li {
            list-style-type: none;
            display: inline;
            margin-right: 3 0px;
            font-size: 20px;
            
            padding-top: 23px;
            
        }

        li:hover ul {
            display: block;
            position: absolute;
            left: 200px;
            background-color: rgb(217, 236, 217);
            margin: 0;
        }

        li:hover ul li a:link {
            display: block;
            margin-left: -30px;
        }

        a:link {
            color: rgb(11, 3, 37);
            text-decoration: none;
        }

        a:hover {
            color: rgb(37, 36, 33);
            text-decoration: none;
        }
        table {
            border-collapse: separate;
            border-spacing: 160px 20px;
          }
          .Read {
            background-color:white;
            
            float: left;
            width: 150px;
            height: 30px;
            border-radius: 5px 5px 5px 5px;
          }
          .Buy {
            background-color:rgb(50, 107, 214);
            color: white;
            float: right;
            width: 150px;
            height: 30px;
            border-radius: 5px 5px 5px 5px;
          }
          td{
              background-color: rgba(248, 241, 241, 0.911);
          }
          .main{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            word-spacing: 1px;
          }
        
        